@model VolvoCaminhoes.Models.Caminhao

@{
    ViewData["Title"] = "Delete";
}

<h2>Deletar</h2>

<h3>Você tem certeza de que deseja deletar este registro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnoFabricacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnoFabricacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnoModelo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnoModelo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-default" /> |
        <a asp-action="Index">Voltar para a lista</a>
    </form>
</div>
